// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color-primary: #FFFFFF;
$color-secondary: #1B2A41;
$color-extra: #5FC67C;

$color-black: #000;
$color-light-blue: #CCC9DC;
$color-grey: #EBEBEB;
$color-red: #F0386B;
