<div id="modal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close-modal">&times;</span>
    <h2>Contáctanos y empieza a <span>modernizar</span> tu futuro</h2>
    <div class="contact-details">
      <div class="contact-info">
          <h4>Nombre:</h4>
          <p>Alberto Romano</p>
      </div>
      <div class="contact-info">
          <h4>Posición:</h4>
          <p>Parser Engineer / Fullstack Developer</p>
      </div>
      <div class="contact-info">
          <h4>Email:</h4>
          <p>aromanog1@gmail.com</p>
      </div>
    </div>
  </div>

</div>
